// Header :: Small on scroll

body.header-small #header {
	position: fixed;
	top: px(-70);
	width: 100%;

	#header-bottom .logo-wp {
		opacity: 1;
	}
	@include media-breakpoint-down(lg) {
		top: px(-67);
	}
	@include media-breakpoint-down(md) {
		top: px(-58);
	}
	@include media-breakpoint-down(xs) {
		position: relative;
		top: auto;
	}
}
@include media-breakpoint-down(xs) {
	body {
		padding-top: 0 !important;
	}
}
@include media-breakpoint-up(lg) {
	body.header-small #header {}
}
// Navigation :: Force Display on large device
@include media-breakpoint-up(sm) {
	#header-bottom {
		display: block !important;
	}

	#nav-mobile-trigger {
		display: none;
	}
}
// Header :: Structure

#header {
	position: relative;
	z-index: 101;
	width: 100%;
	padding: 0;
	transition: all 0.2s ease-in-out;
}

#header-top {
	padding: px(8) 0;
	background-color: $gy-d;

	.logo-wp {
		display: block;
	}

	.search-wp {
		position: relative;

		.input {
			padding: px(0) px(50) 0 px(20);
			line-height: 1em;
			height: px(43);
			border: none;
			border-radius: 50px;
			display: block;
			font-size: px(12);
			width: 100%;
			outline: none;
			box-shadow: none;

			&::placeholder {
				font-size: px(12);
				padding-top: px(4);
				color: $gy-b !important;
				opacity: 1;
			}
		}

		.button {
			position: absolute;
			top: 0;
			right: 0;
			width: px(43);
			text-align: center;
			height: px(43);
			border-radius: 45px;
			background-color: $rd-a;
			color: $wh-a;
			font-size: px(12);
			text-transform: uppercase;
			transition: all 0.2s ease-in-out;

			&:focus,
			&:hover {
				background-color: shade($rd-a, 10%);
			}
		}
	}

	.link-wp {
		color: $wh-a;
		display: block;
		text-align: center;
		position: relative;
		width: 100%;

		.txt {
			display: block;
			font-size: px(10);
			text-transform: uppercase;
			margin-top: px(5);
		}

		&[data-shopping-card]:after {
			content: attr(data-shopping-card);
			position: absolute;
			top: px(-2);
			left: 55%;
			background-color: $rd-a;
			height: px(15);
			font-size: px(11);
			line-height: 0;
			display: block;
			text-align: center;
			padding: px(7) px(4) 0;
			border-radius: 15px;
		}

		&[data-shopping-card='0']:after {
			display: none;
		}
	}
	@include media-breakpoint-down(md) {
		padding: px(5) 0;

		.search-wp {
			.input {
				height: px(40);
			}

			.button {
				width: px(40);
				height: px(40);
				font-size: px(11);
			}
		}

		.link-wp {
			.sprite {
				transform: scale(0.9) translateY(2px);
			}

			.txt {
				font-size: px(8.5);
			}

			&[data-shopping-card]:after {
				font-size: px(8);
				height: px(13);
				top: px(1);
			}
		}
	}
	@include media-breakpoint-up(md) {
		#search-toggle {
			display: block !important;
		}
	}
	@include media-breakpoint-down(sm) {
		#search-toggle {
			position: relative;
			padding: px(15) 0;
			background-color: $gy-c;
			margin: px(5) 0 px(-5);

			&:after,
			&:before {
				content: "";
				position: absolute;
				top: 0;
				background-color: $gy-c;
				height: 100%;
				width: 50%;
			}

			&:before {
				left: -50%;
			}

			&:after {
				right: -50%;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		padding: px(10) 0 0;

		#search-toggle {
			display: block !important;
			padding: px(10) px(15);
			margin: px(10) 0 0;

			&:after,
			&:before {
				display: none;
			}
		}

		#nav-mobile-trigger {
			padding-top: px(11);
		}

		.logo-wp {
			width: px(150);
		}

		.link-wp {
			margin-top: -5px;

			.txt {
				display: none;
			}
		}
	}
}

#header-bottom {
	background-color: $gy-a;

	.container {}

	.logo-wp {
		display: block;
		width: 125px;
		position: absolute;
		top: px(77);
		left: 50%;
		margin-left: px(-550);
		opacity: 0;
		transition: all 0.1s ease-in-out;
	}

	#nav-main {
		padding: 0 px(225);
		display: flex;

		.item {
			flex-grow: 1;
		}

		.link {
			display: block;
			color: $gy-d;
			position: relative;
			line-height: 1.2em;
			font-weight: 600;
			text-align: center;
			padding: px(15);
			transition: all 0.2s ease-in-out;

			&:after {
				content: "";
				display: block;
				position: absolute;
				background-color: $rd-a;
				bottom: 0;
				left: px(15);
				height: px(5);
				width: calc(100% - 30px);
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}
		}

		.link:focus,
		.link:hover {
			color: $rd-a;
		}

		.link.active {
			color: $rd-a;

			&:after {
				opacity: 1;
			}
		}
	}

	#nav-more {
		position: absolute;
		top: px(71);
		right: 50%;
		margin-right: -560px;
		text-align: center;
		width: px(200);

		.item {
			display: inline-block;
		}

		.link {
			display: block;
			color: $gy-d;
			font-weight: 400;
			text-transform: uppercase;
			font-size: px(13);
			padding: px(12) px(15) px(15);

			&.active,
			&:focus,
			&:hover {
				color: $rd-a;
			}
		}
	}
	@include media-breakpoint-down(lg) {
		.logo-wp {
			margin-left: px(-460);
			top: px(74);
		}

		#nav-main {
			padding: 0 px(200);
		}

		#nav-more {
			width: px(215);
			top: px(70);
			margin-right: -480px;
		}
	}
	@include media-breakpoint-down(md) {
		.logo-wp {
			display: none;
		}

		#nav-main {
			padding: 0 px(170) 0 0;
		}

		#nav-more {
			width: px(190);
			top: px(60);
			margin-right: -360px;

			.link {
				font-size: px(12);
				padding-top: px(13);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		#nav-main {
			padding: 0;
			margin-left: px(-20);

			.link {
				font-size: px(13);
				white-space: nowrap;
				padding: px(15) px(8);

				&:after {
					width: calc(100% - 10px);
					left: px(5);
				}
			}
		}
	}
	@include media-breakpoint-down(xs) {
		display: none;
		.container {
			padding: 0;
		}
		#nav-main {
			display: block;
			margin-left: 0;

			.item {
				display: block;
				border-bottom: 1px solid shade($gy-a, 15%);

				&[data-navsub] .link:before {
					content: "+";
					position: absolute;
					top: 50%;
					right: px(5);
					font-size: px(24);
					font-weight: 300;
					margin-top: px(-10);
					width: 20px;
					text-align: center;
				}
				&[data-navsub].focus .link:before {
					content: "-";
				}
			}

			.link {
				text-align: left;
				font-size: px(14);
				padding: px(12);

				&:after {
					display: none;
				}
			}
		}
	}
}
// Navigation :: Sub
#main:after {
	content: "";
	position: fixed;
	top: -300%;
	left: 0;
	width: 100%;
	height: 200%;
	opacity: 0;
	z-index: 99;
	background-color: rgba(0,0,0,0.8);
	transition: opacity 0.1s ease-in-out;
}

body.navsub-open {
	overflow: hidden;

	#main:after {
		top: 0;
		opacity: 1;
	}
}

@include media-breakpoint-down(xs) {
	#main:after {
		display: none;
	}
	body.navsub-open  {
		overflow: visible;
	}
}

.nav-sub {
	display: none;
	position: relative;
	top: auto;
	left: auto;
	height: auto;
	opacity: 1;
	background-color: $wh-a;
}

li[data-navsub].focus > .nav-sub {
	visibility: visible;
	display: block;
	height: auto;
	opacity: 1;
}

.nav-sub {
	display: none;
	position: absolute;
	left: 0;
	z-index: 99;
	top: 115px;
	overflow: hidden;
	height: 0;
	width: 100%;
	padding: 0;
	opacity: 0;
	background-color: $wh-a;
	color: $bk-a;
	transition: all 0.1 ease-in-out;
	text-align: left;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

	.content {
		padding: px(10) px(0) px(20);
		width: 100%;
		display: flex;
		flex-flow: row wrap;

		> li {
			flex-grow: 1;
		}

		.content-item {
			max-width: 20%;
			flex: 0 0 20%;
			padding-right: px(10);
			@include media-breakpoint-down(lg) {
				max-width: 25%;
				flex: 0 0 25%;
			}
			@include media-breakpoint-down(md) {
				max-width: 33.333333%;
				flex: 0 0 33.333333%;
			}
			@include media-breakpoint-down(xs) {
				max-width: 50%;
				flex: 0 0 50%;
			}
		}
		.list-sub .item-sub:not(:last-child) {
			margin-bottom: px(5);
		}
		.link-sub {
			padding-left: px(8);
			font-size: px(13);
			font-weight: 300;
			line-height: 1.3em;
			position: relative;
			display: block;

			&:before {
				content: "-";
				position: absolute;
				top: 0;
				left: 0;
			}
			&.active {
				font-weight: 600;
			}
		}

		.title-sub {
			text-transform: uppercase;
			display: block;
			font-size: px(13);
			font-weight: 700;
			line-height: 1.2em;
			color: $rd-a;
			margin: px(20) 0 px(0);
		}

		.list-sub {
			margin-top: px(5);
		}
	}
	@include media-breakpoint-down(lg) {
		top: px(113);
	}
	@include media-breakpoint-down(md) {
		top: px(104);
	}
	@include media-breakpoint-down(sm) {
		top: px(103);
	}
	@include media-breakpoint-down(xs) {
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		padding: 0 px(15);
		border: none;
		border-top: 1px solid shade($gy-a, 15%);
		opacity: 1;
		box-shadow: none;
		.content {
			padding: 0 0 px(15);
		}
	}
}

@include media-breakpoint-down(xs) {
	.item.focus .nav-sub {
		display: block;
	}
	.item .nav-sub {
		display: none;
	}
}

#header-page {
	position: relative;
	padding: px(50) 0;
	text-align: center;
	background: #fbfbfb;
	background: -moz-linear-gradient(left,  #fbfbfb 0%, #f7f7f7 100%);
	background: -webkit-linear-gradient(left,  #fbfbfb 0%,#f7f7f7 100%);
	background: linear-gradient(to right,  #fbfbfb 0%,#f7f7f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f7f7f7',GradientType=1 );
	&:before {
		content:"";
		width: 100%;
		height: px(10);
		position: absolute;
		top: px(-10);
		left: 0;
		background-color: transparent;
		box-shadow: 2px 0 5px rgba(0,0,0,0.3);
	}
	@include media-breakpoint-down(sm) {
		padding: px(40) 0;
	}
	@include media-breakpoint-down(xs) {
		padding: px(25) 0;
	}
}
