// Footer

#footer {
	background-color: $wh-a;
	color: $bk-a;
	margin-top: px(50);

	@include media-breakpoint-down(sm) {
		margin-top: px(30);
	}

	@include media-breakpoint-down(xs) {
		margin-top: px(20);
	}

	#footer-top {
		.list,
		.list-link {
			.item,
			.link {
				position: relative;
				display: block;
				font-size: px(13);
			}

			.item:not(:last-child) {
				margin-bottom: px(5);
			}
		}

		.list-link {
			.link {
				position: relative;
				padding-left: px(10);

				&:before {
					content: "-";
					position: absolute;
					top: px(0);
					left: 0;
				}

				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	#footer-bottom {
		background-color: $gy-d;
		color: $wh-a;
		padding: px(15) 0;
		font-size: px(12);

		.list-inline > * {
			display: inline-block;

			&:first-child:after {
				content: "|";
			}

			a:focus,
			a:hover {
				text-decoration: underline;
			}
		}

		.logo {
			margin-top: px(-7);
			display: block;

			span {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				padding-top: 10px;
			}
		}
		@include media-breakpoint-down(md) {
			.logo img {
				display: none;
			}
			.list-inline > * {
				display: block;
				&:after {
					display: none;
				}
				&:before {
					content: "-" !important;
				}
			}
		}
		@include media-breakpoint-down(xs) {
			text-align: center;
			.list-inline > * {
				display: inline-block;
				&:first-child:after {
					content: "|";
					display: inline-block;
				}
				&:before {
					display: none;
				}
			}
		}

	}
}
