// Body
body {
	overflow: hidden;
	overflow-y: auto;
}

body,
html {
	width: 100%;
	background-color: #fff;
}

// Utils :: Hide play button on video iphone
*::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}

#best-sales-wp {
	padding: px(75) 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/illustrations/bg-bestsales.jpg);
	color: $wh-a;
	.title-section {
		position: relative;
		font-size: px(26);
		line-height: 1.2em;
		font-weight: 300;
		text-transform: uppercase;
		&:after {
			content:"";
			display: block;
			width: px(80);
			height: px(5);
			background-color: $wh-a;
			margin-top: px(10);
		}
	}
	@include media-breakpoint-down(md) {
		padding: px(50) 0;
		.title-section {
			text-align: center;
			&:after {
				margin: px(10) auto 0;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		padding: px(30) 0;
		.title-section {
			font-size: px(24);
			font-weight: 400;
			&:after {
				height: px(2);
			}
		}
	}
	@include media-breakpoint-down(xs) {
		.title-section {
			font-size: px(22);
		}
	}
}
