// Slick :: Dots & reset

.slick-slide {
  outline: none !important;
}

.slick-vertical .slick-slide {
  border: none !important;
}

.slick-dots {
  margin-top: px(15);
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
  }

  button {
    position: relative;
    width: px(14);
    height: px(14);
    margin-right: 5px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid $wh-a;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-indent: -999em;

    &:before {
      content: "";
      position: absolute;
      top: px(2);
      left: px(2);
      background-color: $wh-a;
      border-radius: 100%;
      width: px(8);
      height: px(8);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  .slick-active button:before,
  button:focus:before,
  button:hover:before {
    opacity: 1;
  }
}
// Slick :: Home Top

#slick-home-wp {
  position: relative;

  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: px(-35);
    width: px(65);
    height: px(65);
    background-color: $wh-a;
    transform: rotate(45deg);
    z-index: 10;
  }

  &:before {
    left: px(-35);
  }

  &:after {
    right: px(-35);
  }

  .item {
    position: relative;
    background-size: cover;
    min-height: 250px;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: px(50);

    .img-wp {
      display: none;
    }

    .content-wp {
      background-color: $wh-a;
      width: 40%;
      padding: px(25);

      .title {
        font-size: px(17);
        font-weight: 600;
        text-transform: uppercase;
        color: $gy-d;
      }

      .desc {
        color: $gy-b;
        font-size: px(13);
        line-height: 1.3em;
        margin-top: px(10);
        margin-bottom: 0;
      }

      .btn-wp {
        margin-top: px(15);
      }
    }
  }

  .slick-dots {
    width: 100%;
    position: absolute;
    bottom: px(10);
    left: 0;
    text-align: center;
  }
  @include media-breakpoint-down(lg) {
    .item {
      .content-wp {
        width: 45%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .item {
      display: block;
      padding: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .img-wp {
        display: none;
      }

      .content-wp {
        position: relative;
        z-index: 2;
        padding: px(50);
        height: 100%;
        color: $wh-a;
        width: 100%;
        background: none;

        .desc,
        .title {
          color: $wh-a;
        }

        .title {
          font-size: px(19);
        }

        .desc {
          font-size: px(14);
          line-height: 1.4em;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .item {
      height: auto !important;
    }
  }
  @include media-breakpoint-down(xs) {
    &:after,
    &:before {
      bottom: px(-50);
    }

    .item {
      .content-wp {
        padding: px(25) px(25) px(35);

        .title {
          font-size: px(16);
        }

        .desc {
          font-size: px(13);
          line-height: 1.4em;
        }
      }
    }

    .slick-dots {
      bottom: px(5);
    }
  }
  // Animation classes
  .slick-slide .content-wp {
    opacity: 0;
    transform: translateY(-40px) scale(1.2);
    transition: all 0.2s ease-in-out 0.5s;
  }

  .slick-slide.animation .content-wp {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  @include media-breakpoint-down(md) {
    .slick-slide .content-wp {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition: all 0.2s ease-in-out 0.5s;
    }

    .slick-slide.animation .content-wp {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
.except-zindex {
  position: relative;
  z-index: 11;
}

// Slick :: Product generic
.slick-product-section {
  .category {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: px(20);
    position: relative;
    z-index: 10;
    color: $wh-a;

    .title {
      font-size: px(32);
      font-weight: 300;
      line-height: 1.2em;
      text-transform: uppercase;
    }

    .btn-wp {
      margin-top: px(20);
    }

    &.type-car {
      background-image: url("../images/illustrations/bg-product-1.jpg");
    }

    &.type-audio {
      background-image: url("../images/illustrations/bg-product-2.jpg");
    }

    &.type-dj {
      background-image: url("../images/illustrations/bg-product-3.jpg");
    }

    &.type-water {
      background-image: url("../images/illustrations/bg-product-4.jpg");
    }
  }

  .slick-product-wp {
    padding: px(20);
    position: relative;
    background-color: $gy-a;

    .item {
      padding: 0 px(10);
    }

    .slick-product-arrows {
      .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: px(-25);
        z-index: 100;
      }
    }

    &.type-red {
      padding-right: px(55);

      .slick-arrow {
        right: px(-39);

        .sprite {
          @extend .next-red;
        }
      }
    }

    &.type-blue {
      padding-left: px(55);

      .slick-arrow {
        left: px(-39);

        .sprite {
          @extend .prev-blue;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .category {
      .title {
        font-size: px(30);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .category {
      .title {
        font-size: px(27);
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .category {
      padding: px(25) px(15);
      text-align: center;

      .title {
        font-size: px(25);
      }

      .btn-wp {
        margin-top: px(10);
      }
    }

    .slick-product-wp {
      padding: px(15) px(5) !important;
      margin-bottom: px(20);

      .slick-product-arrows {
        display: none;

        .slick-arrow {
          position: relative;
          top: auto;
          right: auto;
          left: auto;
          margin-top: px(0);
        }
      }

      .slick-dots {
        position: absolute;
        bottom: px(-50);
        width: 100%;
        text-align: center;

        button {
          border-color: shade($gy-a,20%);

          &:before {
            background-color: shade($gy-a,20%);
          }
        }
      }
    }
  }
}
