.product-wp {
  position: relative;
  background-color: $wh-a;
  color: $bk-a;
  padding: px(15) px(15) px(50);
  height: 100%;

  &.listing {
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
  }

  .header-wp {
    margin-bottom: px(10);
  }

  .title {
    font-size: px(15);
    line-height: 1.2em;
    font-weight: 700;
    &.old-price {
      text-decoration: line-through;
      font-size: 80%;
    }
  }

  .title-sub {
    color: $gy-c;
    font-size: px(11);
    text-transform: uppercase;
    margin-top: px(5);
  }

  .btn-wp {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .btn-more {
      text-transform: uppercase;
      font-weight: 400;
      font-size: px(12);

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    .btn-shopping-card {
      @extend .sprite;
      margin-left: px(15);

      &.red {
        @extend .shopping-card-red;
      }

      &.blue {
        @extend .shopping-card-blue;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    padding: px(10) px(10) px(50);

    .title {
      font-size: px(14);

      .title-sub {
        font-size: px(10);
      }
    }
  }
}

.category-filter {
  border-bottom: none;
  color: $gy-d;


  .title-wp {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding: px(30) px(10);
    justify-content: center;
    align-items: center;
    color: $wh-a;
    &.category-car {
      background-image: url("../images/illustrations/bg-product-1.jpg");
    }
    &.category-audio {
      background-image: url("../images/illustrations/bg-product-2.jpg");
    }
    &.category-dj {
      background-image: url("../images/illustrations/bg-product-3.jpg");
    }
    &.category-water {
      background-image: url("../images/illustrations/bg-product-4.jpg");
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,0.4);
    }

    .title {
      text-transform: uppercase;
      font-weight: 300;
      z-index: 2;
      margin-bottom: 0;
      font-size: px(18);
    }
    .btn-wp {
      display: none;
      margin-top: px(15);
      position: relative;
      z-index: 2;
    }
  }

  .title-sub {
    padding: px(10) px(15);
    display: block;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-weight: 600;
    font-size: px(13);
    padding-right: px(20);
    line-height: 1.2em;
    background-color: $gy-e;
    margin-top: px(5);

    &:focus,
    &:hover {
      background-color: tint($gy-a, 50%);
    }

    .material-icons {
      position: absolute;
      top: 50%;
      right: px(5);
      top: 50%;
      font-size: px(18);
      margin-top: px(-8);
      font-weight: 500;
    }
  }

  .link-sub {
    display: block;
    position: relative;
    padding-left: px(13);
    font-size: px(13);

    &.except {
      text-transform: uppercase;
      font-weight: 400;
      font-size: px(9);
      display: inline-block;
      color: $wh-a;
      background-color: $gy-d;
      padding: px(3) px(6) px(2);
      margin-left: px(13);
      margin-top: px(5);

      &:before {
        display: none;
      }
    }

    &.active {
      font-weight: 600;
      color: $rd-a;
    }

    &:before {
      content: "-";
      position: absolute;
      top: px(2);
      left: px(5);
    }
  }

  .title-sub.open .material-icons {
    transform: rotate(90deg);
  }

  .title-sub.open + .list-sub {
    display: block;
    padding: px(10);
    background-color: $wh-a;
    border: 1px solid $gy-e;
    border-top: none;
  }

  .list-sub {
    display: none;
  }

  &.except-blog {
    .title-sub {
      padding: px(10) px(15);
      font-size: px(14.5);
      font-weight: 400;

      &.active {
        background-color: $gy-c;
        color: $wh-a;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .content {
      display: none;
    }
    .title-wp {
      .title {
        font-size: px(22);
      }
      .btn-wp {
        display: block;
      }
    }
  }
  @include media-breakpoint-down(xs) {

    .title-wp {
      .title {
        font-size: px(18);
      }
    }
  }
}

.filter-btn-mobile {
	display: block;
	width: 100%;
	position: relative;
	text-align: center;
	padding: px(8) px(10);
	background-color: $gy-c;
	color: $wh-a;

	.material-icons {
		display: inline-block;
		vertical-align: middle;
		margin-left: px(10);
	}
}

.pagination-wp {
  margin-top: px(30);
  @include media-breakpoint-down(sm) {
    margin-top: px(15);
  }

  .pagination {
    justify-content: center;

    .page-link {
      padding: px(6) px(11);
      border: none !important;
      color: $gy-c;
      font-weight: 400;
      font-size: px(15);
    }

    .page-item.active .page-link {
      background-color: $gy-d;
      color: $wh-a;
    }
  }
}
