// Component :: Google map

.map-wrapper {
	position: relative;

	.map-canvas {
		width: 100%;
		height: 100%;
		overflow: hidden;
		height: 400px;
	}


	.figcaption {
		background-color: $wh-a;
		position: absolute;
		top: 100px;
		width: 350px;
		right: -250px;
		display: block;
		padding: 30px;
		box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.1);
	}

	.figcaption .item {
		position: relative;
		padding-left: 35px;
		font-weight: 600;
		line-height: 1.5em;
	}

	.figcaption .item:not(:last-child) {
		margin-bottom: 10px;
	}

	.figcaption .item .icon {
		font-size: px(20);
		position: absolute;
		color: $rd-a;
		top: 50%;
		margin-top: -9px;
		left: 0;
	}
	@include media-breakpoint-down(sm) {

		.map-canvas {
			height: px(200);
		}

		.figcaption {
			position: relative;
			top: auto;
			width: 100%;
			padding: 20px;
			right: auto;
			box-shadow: none;
			background-color: $gy-e;
			top: auto;
		}

		.figcaption .item {
			font-size: px(13);
		}
	}
}
