// Custom variables :: Colors
//
// -> bk : black;
// -> gy : grey;
// -> wh : white;
// -> pu : purple;
// -> bl : blue;
// -> br : brown;
// -> or : orange;
// -> gn : green;
// -> pk : pink;
$bk-a: #000000;
$wh-a: #FFFFFF;
$gy-a: #f0f0f0;
$gy-b: #909090;
$gy-c: #737373;
$gy-d: #2e2e2e;
$gy-e: #fbfbfb;
$rd-a: #d71729;
$bl-a: #3475b1;

// Color
.c-bk-a {
  color: $bk-a;
}

.c-gy-a {
  color: $gy-a;
}

.c-gy-b {
  color: $gy-b;
}

.c-gy-c {
  color: $gy-c;
}
.c-gy-d {
  color: $gy-d;
}
.c-gy-e {
  color: $gy-e;
}

.c-rd-a {
  color: $rd-a;
}

.c-bl-a {
  color: $bl-a;
}

.c-wh-a {
  color: $wh-a;
}

// Background
.bg-bk-a {
  background-color: $bk-a;
}

.bg-gy-a {
  background-color: $gy-a;
}

.bg-gy-b {
  background-color: $gy-b;
}

.bg-gy-c {
  background-color: $gy-c;
}

.bg-gy-d {
  background-color: $gy-d;
}
.bg-gy-e {
  background-color: $gy-e;
}

.bg-rd-a {
  background-color: $rd-a;
}

.bg-bl-a {
  background-color: $bl-a;
}

.bg-wh-a {
  background-color: $wh-a;
}
