// Font family
$font-stack: 'Open Sans', sans-serif; // Html

html {
  color: $bk-a;
  font-size: #{$font-size}px !important;
}

body {
  font-family: $font-stack !important;
  transition: opacity 0.1s ease-in-out;
}

// Title :: soft reset

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2em;
}
// Title hierarchy :: Bigger to smaller

.h-like-a {
  font-size: px(24);
  font-weight: 600;
  line-height: 1.2em;
  &.big {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.h-like-b {
  font-size: px(20);
  font-weight: 400;
  text-transform: uppercase;
}
.h-like-c {
  display: block;
  position: relative;
  font-weight: 600;
  margin-bottom: 0;
  color: $gy-d;
  font-size: px(28);
  text-transform: uppercase;
  &:after {
    content:"";
    display: block;
    width: px(30);
    height: px(3);
    margin: px(7) auto 0;
    background-color: $gy-d;
  }
}

.title-icon {
  > * {
    display: inline-block;
    vertical-align: middle;
    &.material-icons {
      margin-right: px(10);
      font-size: px(22);
    }
  }
}


@include media-breakpoint-down(lg) {
  .h-like-a {}
}
@include media-breakpoint-down(md) {
  .h-like-c {
    font-size: px(26);
  }
}
@include media-breakpoint-down(sm) {
  .h-like-a {
    font-size: px(22);
  }
  .h-like-c {
    font-size: px(24);
  }
}
@include media-breakpoint-down(xs) {
  .h-like-a {
    font-size: px(22);
  }
  .h-like-c {
    font-size: px(20);
  }
}
// Paragraph hierarchy :: Bigger to smaller

.p-like-a {}
@include media-breakpoint-down(lg) {
  .p-like-a {}
}
@include media-breakpoint-down(md) {
  .p-like-a {}
}
@include media-breakpoint-down(sm) {
  .p-like-a {}
}
@include media-breakpoint-down(xs) {
  .p-like-a {}
}
