// Reset :: Button & Links

button {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none !important;
	cursor: pointer;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
// Hover :: Link

.td-und-hover-a:focus,
.td-und-hover-a:hover {
	text-decoration: underline;
}

.td-und-hover-b:focus > *,
.td-und-hover-b:hover > * {
	text-decoration: underline;
}
// Buttons :: List

.btn-a {
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	padding: px(12);
	color: $wh-a !important;
	line-height: 1em;
	border-style: solid;
	border-width: 1px;
	transition: all 0.2s ease-in-out;
	&.red {
		background-color: $rd-a;
		border-color: $rd-a;
		&:focus,
		&:hover {
			background-color: $wh-a;
			color: $rd-a !important;
		}
	}
	&.blue {
		background-color: $bl-a;
		border-color: $bl-a;
		&:focus,
		&:hover {
			background-color: $wh-a;
			color: $bl-a !important;
		}
	}
	@include media-breakpoint-down(xs) {
		padding: px(10);
		font-size: px(13);
	}
}

.btn-b {
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	padding: px(12) px(16);
	color: $wh-a !important;
	line-height: 1em;
	font-size: px(12);
	border-style: solid;
	border-width: 1px;
	border-radius: 30px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	&.white {
		border-color: $wh-a;
		&:hover,
		&:focus {
			background-color: $wh-a;
			color: $bk-a !important;
		}
	}
}
// Button :: Hamburger

.btn-mobile-hamburger {
	display: block;
	margin: 0 auto;
	width: 25px;
	height: 22px;
	position: relative;
	z-index: 2;
	transform: rotate(0deg);
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	span {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: $wh-a;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: all 0.2s ease-in-out;
	}

	span:nth-child(1) {
		top: 0;
	}

	span:nth-child(2),
	span:nth-child(3) {
		top: 7px;
	}

	span:nth-child(4) {
		top: 14px;
	}
}
// Button :: Hamburger Open

.menu-open .btn-mobile-hamburger {
	span:nth-child(1) {
		top: 18px;
		width: 0;
		left: 50%;
	}

	span:nth-child(2) {
		transform: rotate(45deg);
	}

	span:nth-child(3) {
		transform: rotate(-45deg);
	}

	span:nth-child(4) {
		top: 18px;
		width: 0;
		left: 50%;
	}
}
// Button :: Top

#btn-back-top {
	@include position(fixed, null 30px 30px null);
	z-index: 99;
	transition: all 0.2s ease-in-out;

	&:focus,
	&:hover {}
	@include media-breakpoint-down(sm) {
		right: 15px;
		bottom: 15px;
	}
}
