.sprite {
	display: inline-block;
	background-image: url("../images/icons/sprite.png");
	background-repeat: no-repeat;
	vertical-align: text-top;
	background-size: 1100px;
	&.back-top {
		width: 50px;
		height: 50px;
	}

	&.back-top {
		background-position: 0 0;
	}

	&.prev-blue,
	&.next-red {
		width: 78px;
		height: 52px;
		transition: all 0.2s ease-in-out;
	}
	&.prev-blue {
		background-position: -50px 0;
		&:hover,
		&:focus {
			background-position: -50px -52px;
		}
	}
	&.next-red {
		background-position: -130px 0;
		&:hover,
		&:focus {
			background-position: -130px -52px;
		}
	}

	&.shopping-card-blue,
	&.shopping-card-red {
		width: 39px;
		height: 42px;
		transition: all 0.2s ease-in-out;
	}
	&.shopping-card-red {
		background-position: -290px 0;
		&:hover,
		&:focus {
			background-position: -290px -42px;
		}
	}
	&.shopping-card-blue {
		background-position: -330px 0;
		&:hover,
		&:focus {
			background-position: -330px -42px;
		}
	}
	&.header-account,
	&.header-shopping-card,
	&.header-search {
		width: 40px;
		height: 30px;
	}
	&.header-account {
		background-position: -210px 0;
	}
	&.header-shopping-card {
		background-position: -250px 0;
	}
	&.header-search {
		background-position: -210px -30px;
	}
}
